.scroll-container {
  overflow-y: auto;
  max-height: 100vh;
  padding: 10px;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.board {
  border: 4px solid black;
  width: fit-content;
}

.board td {
  cursor: pointer;
  font-size: 2em;
  border: 2px solid gainsboro;
  width: 64px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 150, 0, 0.6);
}

.board td:hover {
  background-color: transparent;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
    background-color: transparent; /* Optional: make it invisible during the flip */
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes colorChangeToBlack {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes colorChangeToWhite {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.stone {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

.stone.flip-to-black {
  animation: flip 1.0s forwards, colorChangeToBlack 1.0s forwards;
}

.stone.flip-to-white {
  animation: flip 1.0s forwards, colorChangeToWhite 1.0s forwards;
}

.stone.white {
  background-color: white;
}

.stone.white.hint {
  background-color: rgba(255, 255, 255, 0.5);
}

.stone.black {
  background-color: black;
}

.stone.black.hint {
  background-color: rgba(0, 0, 0, 0.5);
}

select {
  background: linear-gradient(to bottom, #32CD32, #90EE90);
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  border: 1px solid #32CD32;
  color: black;
  min-width: 100px;
}

select:hover {
  background: linear-gradient(to bottom, #228B22, #7CFC00);
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(50, 205, 50, 0.8);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .board td {
    width: 50px;
    height: 50px;
    font-size: 1.75em;
  }

  .stone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

@media (max-width: 576px) {
  .board td {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
  }

  .stone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media (max-width: 480px) {
  .board td {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
  }

  .stone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media (min-width: 900px) {
  .gamerules-small {
    display: none;
  }
}

.responsive-input {
  max-width: 70px; /* Grundgröße für größere Bildschirme */
  width: 80%; /* nimmt 80% des Containers auf mobilen Geräten */
}

@media (max-width: 576px) {
  .responsive-input {
    max-width: 50px; /* Maximalbreite verringern bei sehr kleinen Bildschirmen */
  }
}
//.responsive-button {
//  padding: 4px 8px; /* Kleinere Polsterung für einen kompakteren Button */
//  font-size: 0.8rem; /* Kleinere Schriftgröße */
//}

@media (max-width: 576px) {
    .abutton {
      font-size: large;
      font-family: Calibri, sans-serif;
      text-decoration: none;
      text-align: center;
      width: fit-content;
      min-width: 100px;
      touch-action: manipulation;
      border: 1px solid green;
      border-radius: 50px;
      padding: 6px 10px;
      background-color: green;
      background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #f4feff, transparent);
      box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
      color: black;
      text-shadow: 0 1px 1px limegreen;
      transition-property: border-color, transform, background-color;
      transition-duration: 0.2s;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      vertical-align: middle;
      margin: 0;
      text-transform: inherit;
      -webkit-tap-highlight-color: transparent;
      transform: scale(0.93);
    }
}

.draggable-piece {
  position: absolute;
  width: 60px; /* Anpassbar */
  height: 60px; /* Anpassbar */
  border-radius: 50%;
  background-color: black; /* Standardfarbe, wird durch JS geändert */
  pointer-events: none;
  display: none; /* Startet als unsichtbar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.chat-messages .message {
  color: #000;
}

.chat-messages .move {
  color: #555;
  font-style: italic;
}

.chat-container {
  width: 80%;
  float: left;
  background-color: rgba(0, 150, 0, 0.6);
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
}

.chat-messages {
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 5px;
}

.chat-input button {
  padding: 5px 10px;
}