.board {
  border-collapse: collapse;
  width: fit-content;
  max-width: 800px;
}

.board td {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.board td:hover {
  background-color: #f0f0f0;
}

.stone {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrink-expand 1s forwards;
}

.stone.white {
  background-color: white;
}

.stone.black {
  background-color: black;
}

@keyframes shrink-expand {
  0% {
    width: 90%;
    height: 90%;
  }
  50% {
    width: 0;
    height: 0;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}

h1 {
  font-size: 2em;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

td {
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  vertical-align: center;
  display: table-cell;
  background-color: green;
}