body {

  background: rgba(186, 187, 186, 1.0);
  background: radial-gradient(at center, rgba(186, 187, 186, 1.0), rgba(145, 252, 148, 1.0));
  overflow: hidden;
  font-family: Calibri, sans-serif;
}

.content {
  position: relative; /* Ensure it can have a higher z-index */
  z-index: 1; /* Place above the cylinder */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.header-container {
  text-align: center;
  width: 100%;
}



.mainrow {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
}

.gamerules {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
}

.label {
  font-size: large;
}

.textfield {
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  text-align: center;
}

.textfield:focus {
  outline: none;
}

h1 {
  font-size: 3em;
  font-family: Impact, sans-serif;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}



.abutton {
  font-size: large;
  font-family: Impact, sans-serif;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  min-width: 100px;
  touch-action: manipulation;
  border: 1px solid green;
  border-radius: 50px;
  padding: 12px 16px;
  background-color: green;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: black;
  text-shadow: 0 1px 1px limegreen;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin: 0;
  text-transform: inherit;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.93);
}

.abutton:hover {
  background-color: darkgreen;
  transform: scale(1);
}

.abutton:active {
  border-color: darkgreen;
  background-color: darkgreen;
  transform: scale(0.7);
}

// --------------------------------------------------
// Cylinder Style
.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;
}

.cylinder1 {
  position: absolute;
  top: 0;
  left: 47%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove6 29s infinite linear;
  z-index: -1;
}

.cylinder2 {
  position: absolute;
  top: 0;
  left: 85%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove7 25s infinite linear;
  z-index: -1;
}

.cylinder3 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove2 31s infinite linear;
  z-index: -1;
}

.cylinder4 {
  position: absolute;
  top: 0;
  left: 36%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove3 32s infinite linear;
  z-index: -1;
}

.cylinder5 {
  position: absolute;
  top: 0;
  left: 63%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove4 26s infinite linear;
  z-index: -1;
}

.cylinder6 {
  position: absolute;
  top: 0;
  left: 23%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove5 27s infinite linear;
  z-index: -1;
}

.cylinder7 {
  position: absolute;
  top: 0;
  left: 70%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove1 30s infinite linear;
  z-index: -1;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top {
  background-color: black;
  transform: translateZ(0px);
}
.top1 {
  background-color: black;
  transform: translateZ(1px);
}
.top2 {
  background-color: black;
  transform: translateZ(2px);
}
.top3 {
  background-color: black;
  transform: translateZ(3px);
}
.top4 {
  background-color: black;
  transform: translateZ(4px);
}
.top5 {
  background-color: black;
  transform: translateZ(5px);
}

.bottom {
  background-color: white;
  transform: translateZ(-1px);
}
.bottom1 {
  background-color: white;
  transform: translateZ(-2px);
}
.bottom2 {
  background-color: white;
  transform: translateZ(-3px);
}
.bottom3 {
  background-color: white;
  transform: translateZ(-4px);
}
.bottom4 {
  background-color: white;
  transform: translateZ(-5px);
}
.bottom5 {
  background-color: white;
  transform: translateZ(-6px);
}

.side {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: gray; /* Color for the side of the cylinder */
  border-radius: 50%;
}

@keyframes rotateAndMove1 {
  0% {
    transform: rotateY(-90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(90deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove2 {
  0% {
    transform: rotateY(-110deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(30deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove3 {
  0% {
    transform: rotateY(-90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(0deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove4 {
  0% {
    transform: rotateY(-60deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(70deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove5 {
  0% {
    transform: rotateY(-50deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(110deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove6 {
  0% {
    transform: rotateY(90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(-270deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove7 {
  0% {
    transform: rotateY(290deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(340deg) translateY(110vh); /* Return to top */
  }
}
// Cylinder style
// --------------------------------------------------
