body {
  background: rgb(71,193,139);
  background: radial-gradient(circle, rgba(71,193,139,1) 0%, rgba(62,198,88,1) 59%, rgba(151,205,114,1) 100%);
  overflow: hidden;
  font-family: Impact, sans-serif;
}

.content {
  position: relative; /* Ensure it can have a higher z-index */
  z-index: 1; /* Place above the cylinder */
  display: flex;
  flex-direction: column;
 }

.content-wrapper {
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.board {
  border-collapse: collapse;
  width: fit-content;
  max-width: 800px;
}

.board td {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.board td:hover {
  background-color: #f0f0f0;
}

h1 {
  font-size: 3em;
  font-family: Impact, sans-serif;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

td {
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  vertical-align: center;
  display: table-cell;
  background-color: green;
}

.abutton {
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: x-large;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-decoration: none;
  text-align: center;
  background-color: silver;
  width: fit-content;
  min-width: 100px;
  box-shadow: black 2px 2px 10px;
}

.abutton:hover {
  background-color: #b7b7b7;
}

// --------------------------------------------------
// Stone Style
@keyframes flipStone {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.stone-container {
  perspective: 1000px;
  width: 40px;
  height: 40px;
}

.stone {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: flipStone 5s infinite linear;
}

.stone-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

.front {
  background-color: black;
}

.back {
  background-color: white;
  transform: rotateY(180deg);
}
// Stone style
// --------------------------------------------------

// --------------------------------------------------
// Cylinder Style
.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;
}

.cylinder1 {
  position: absolute;
  top: 0;
  left: 47%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove6 12s infinite linear;
  z-index: -1;
}

.cylinder2 {
  position: absolute;
  top: 0;
  left: 85%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove7 8s infinite linear;
  z-index: -1;
}

.cylinder3 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove2 14s infinite linear;
  z-index: -1;
}

.cylinder4 {
  position: absolute;
  top: 0;
  left: 36%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove3 15s infinite linear;
  z-index: -1;
}

.cylinder5 {
  position: absolute;
  top: 0;
  left: 63%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove4 9s infinite linear;
  z-index: -1;
}

.cylinder6 {
  position: absolute;
  top: 0;
  left: 23%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove5 10s infinite linear;
  z-index: -1;
}

.cylinder7 {
  position: absolute;
  top: 0;
  left: 70%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateAndMove1 13s infinite linear;
  z-index: -1;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top {
  background-color: black;
  transform: translateZ(0px);
}
.top1 {
  background-color: black;
  transform: translateZ(1px);
}
.top2 {
  background-color: black;
  transform: translateZ(2px);
}
.top3 {
  background-color: black;
  transform: translateZ(3px);
}
.top4 {
  background-color: black;
  transform: translateZ(4px);
}
.top5 {
  background-color: black;
  transform: translateZ(5px);
}

.bottom {
  background-color: white;
  transform: translateZ(-1px);
}
.bottom1 {
  background-color: white;
  transform: translateZ(-2px);
}
.bottom2 {
  background-color: white;
  transform: translateZ(-3px);
}
.bottom3 {
  background-color: white;
  transform: translateZ(-4px);
}
.bottom4 {
  background-color: white;
  transform: translateZ(-5px);
}
.bottom5 {
  background-color: white;
  transform: translateZ(-6px);
}

.side {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: gray; /* Color for the side of the cylinder */
  border-radius: 50%;
}

@keyframes rotateAndMove1 {
  0% {
    transform: rotateY(-90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(90deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove2 {
  0% {
    transform: rotateY(-110deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(30deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove3 {
  0% {
    transform: rotateY(-90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(0deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove4 {
  0% {
    transform: rotateY(-60deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(70deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove5 {
  0% {
    transform: rotateY(-50deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(110deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove6 {
  0% {
    transform: rotateY(90deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(-270deg) translateY(110vh); /* Return to top */
  }
}

@keyframes rotateAndMove7 {
  0% {
    transform: rotateY(290deg) translateY(-10vh);
  }
  100% {
    transform: rotateY(340deg) translateY(110vh); /* Return to top */
  }
}
// Cylinder style
// --------------------------------------------------
