.playerinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-width: 300px;
}

.playerturn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: pulse 4s infinite;

  &.black {
    background-color: black;
  }

  &.white {
    background-color: white;
  }
}

.playername {
  font-family: inherit;
  font-size: inherit;
}

@media (max-width: 768px) {
  .playerturn {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .playerturn {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .playerturn {
    width: 30px;
    height: 30px;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
}