h2 {
  margin: 0;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body {
  background: rgba(186, 187, 186, 1.0);
  background: radial-gradient(at center, rgba(186, 187, 186, 1.0), rgba(145, 252, 148, 1.0));
  overflow: auto;
  font-family: Calibri, sans-serif;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.content {
  padding: 10px 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cell {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px 1rem;
  height: fit-content;
  vertical-align: top;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: black 5px 5px 20px;
}

.play {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.gap-15 {
  gap: 15px;
}