<div class="scene">
    @*<div class="cylinder1">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>*@

    <div class="cylinder2">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>
@*    ganz Links*@
    <div class="cylinder3">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>

    @*<div class="cylinder4">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>*@

    @*<div class="cylinder5">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>*@

    <div class="cylinder6">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>

    <div class="cylinder7">
        <div class="face top"></div>
        <div class="face top1"></div>
        <div class="face top2"></div>
        <div class="face top3"></div>
        <div class="face top4"></div>
        <div class="face top5"></div>
        <div class="face bottom"></div>
        <div class="face bottom1"></div>
        <div class="face bottom2"></div>
        <div class="face bottom3"></div>
        <div class="face bottom4"></div>
        <div class="face bottom5"></div>
    </div>
</div>