@import utils.BoardHelper
@import de.htwg.model.fieldComponent.FieldInterface
@import de.htwg.model.Stone

@(field: FieldInterface, playerState: Stone)

@main("Welcome to Reversi") {
    @background()
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
    <audio id="click-sound-click1" src="@routes.Assets.versioned("sounds/click1.mp3")" preload="auto"></audio>
    <audio id="click-sound-click2" src="@routes.Assets.versioned("sounds/click2.mp3")" preload="auto"></audio>
    <audio id="click-sound-click3" src="@routes.Assets.versioned("sounds/laser1.mp3")" preload="auto"></audio>
    <audio id="error-sound1" src="@routes.Assets.versioned("sounds/error1.mp3")" preload="auto"></audio>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

    <div class="scroll-container">
        <div class="chat-container">
            <h2>Chat</h2>
            <div id="chat-messages" class="chat-messages">
                    <!-- Nachrichten werden hier dynamisch eingefügt -->
            </div>
            <div class="chat-input">
                <label for="chat-input"></label>
                <input type="text" id="chat-input" placeholder="Nachricht eingeben...">
                <button id="send-button" onclick="sendMessage()">Senden</button>
            </div>
        </div>
        <div class="content">

            <div class="header-container">
                <h1>Reversi</h1>
            </div>


            <div id="widthDisplay"></div>

            @playerturn(playerState)
            <div id="drag-piece" class="draggable-piece"></div>

            @Html(BoardHelper.boardToHtml(field))
            @helper.form(action = routes.ReversiController.makeMoveSubmit()) {
                <div class="col-12 text-center mt-2">
                    <label for="sound-select">Sound auswählen:</label>
                    <select id="sound-select" class="sound-select" onchange="changeClickSound()">
                        <option value="click1">Click 1</option>
                        <option value="click2">Click 2</option>
                        <option value="click3">Laser 1</option>
                    </select>
                </div>
                <div class="col-12 text-center mt-2">
                    <label for="hint-select">Tipps:</label>
                    <select id="hint-select" class="hint-select" onchange="changeHintsLevel()">
                        <option value="0" selected>Keine</option>
                        <option value="1">Beim Hovern</option>
                        <option value="2">Alle möglichen Moves</option>
                    </select>
                </div>
            }
            <div class="gamerules-small">
                <a class="abutton .responsive-button" href="@routes.ReversiController.rules()">Rules</a>
            </div>
        </div>
        <div class="gamerules">
            <a class="abutton" href="@routes.ReversiController.rules()">View Game Rules</a>
        </div>
    </div>
}
