@()

@main("Welcome to Reversi") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/landing.css")">
    @background()

    <div class="content">
        <div class="header-container">
            <h1>Reversi</h1>
        </div>

        <div class="landing-content">
            <a class="abutton" href="@routes.ReversiController.game()">Play!</a>
        </div>
    </div>
    <div class="gamerules">
        <a class="abutton" href="@routes.ReversiController.rules()">View Game Rules</a>
    </div>
}
