@import de.htwg.model.Stone

@import de.htwg.model.Stone.*
@(playerState: Stone)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/playerturn.css")">

<div class="playerinfo">
    @if(playerState == B) {
        <div id="playerturn1" class="playerturn black"></div>
        <div id="playerturn2" class="playerturn black"></div>
    } else {
        <div id="playerturn1" class="playerturn white"></div>
        <div id="playerturn2" class="playerturn white"></div>
    }
</div>